[Desktop Entry]
Encoding=UTF-8
Name=Lien vers Raspberry Pi Solar Weather Station: 7 Steps (with Pictures)
Type=Link
URL=http://www.instructables.com/id/Raspberry-Pi-Solar-Weather-Station/
Icon=text-html
